@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #484848;
  }
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

h1,h2,h3,h4,h5,h6,button{
	font-family: 'Roboto', sans-serif;
}
p{
	font-style: italic;
	font-size: 16px;
}
.section{
	padding-top: 7%;
	padding-bottom: 5%;
	color:#666666;
}
